/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {

    background-color: #090707;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.logo img {
    height: auto; /* Increased height of the logo */
    width: 190px; /* Let the width adjust according to the height */
}

.navbar-links {
    flex-grow: 1; /* Navbar links will take up all available space */
    text-align: right; /* Align links to the right */
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header styles */
h1 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Table styles */

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px; /* Increased padding for larger cells */
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form card styles */
.form-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 700px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
}

hr {
    margin-bottom: 10px;
}

